from dataclasses import dataclass


@dataclass
class ServerLocation():
    path: str
    dest: str


@dataclass
class Server():
    domain: str
    locations: list[ServerLocation]


SITES_ENABLED_PATH = '/etc/nginx/sites-enabled'
LOCATION_PLACEHOLDER = '#LOCATION_PLACEHOLDER'
DOMAIN_PLACEHOLDER = '<domain>'
DEST_PLACEHOLDER = '<dest>'
PATH_PLACEHOLDER = '<path>'
BASE_SERVER_CONFIG = f'''server {{
  server_name {DOMAIN_PLACEHOLDER};
  {LOCATION_PLACEHOLDER}
}}'''
BASE_PROXY_CONFIG = f'''location {PATH_PLACEHOLDER} {{
    proxy_pass {DEST_PLACEHOLDER};
  }}
  {LOCATION_PLACEHOLDER}'''
EMAIL = 'user@example.com'
SERVERS = [
    Server(
        domain = 'sub.domain.com',
        locations = [
            ServerLocation(path = '/path', dest = 'http://127.0.0.1:8443'),
            ServerLocation(path = '/pathtwo', dest = 'http://127.0.0.1:9191')
        ]
    ),
    Server(
        domain = 'other-domain-two.net',
        locations = [
            ServerLocation(path = '/some', dest = 'http://127.0.0.1:7000'),
            ServerLocation(path = '/other', dest = 'http://127.0.0.1:6000')
        ]
    )
]